html {
    height: 100%;
    width: 100%;
}

li {
    color: blue;
}

.pixel-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.light {
    background-color: light yellow;
}

.dark {
    background-color: darkblue;
}


.container {
    position: relative;
    width: 50%;
}

.container img {
    width: 100%;
    height: auto;
}

.card img {
    width: 75%;
    height: auto;
}

.container .btn {
  position: absolute;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#start {
    top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#settings {
    top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container .btn:hover {
  background-color: black;
}

#AboutMe {

}

.portfolio-text {
    position: absolute;
    top: 30%;
    left: 25%;
    color: pink;
    padding: 10px;
    -webkit-text-stroke: 1px hotpink;
}

.portfolio-day-text {
    position: absolute;
    top: 30%;
    left: 25%;
    color: blue;
    padding: 10px;
    -webkit-text-stroke: 1px darkblue;
}

.portfolio-night-text {
    position: absolute;
    top: 30%;
    left: 25%;
    color: pink;
    padding: 10px;
    -webkit-text-stroke: 1px hotpink;
}
